.filter {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 4px rgba(150, 155, 159, 0.2);
    min-height: 252px;
}

.header {
    margin: 20px 10px 5px 20px;
}

.filter_item {
    display: flex;
    align-items: center;
}

.filter_item:last-child {
    margin-bottom: 20px;
}

.filter_item:hover {
    position: relative;
    cursor: pointer;
    background-color: #F1FCFF;
}

label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px 0 20px;
}

label:hover {
    cursor: pointer;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

label:before {
    content: "";
    font-size: calc(6px + 5 * (100vw / 960));
    width: calc((5vw) / 2);
    height: calc((5vw) / 2);
    max-width: 20px;
    max-height: 20px;
    min-width: 10px;
    min-height: 10px;
    border: 1px solid #9ABBCE;
    border-radius: 3px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.checkbox:checked + label:before {
    content: "\2713";
    color: #2196F3;
    border-color: #2196F3;
  }
  
@media (max-width: 425px) {
    label:before {
      width: 10px;
      height: 10px;
    }
    .filter {
        display: flex;
        min-height: 35px;
        font-size: calc(6px + 5 * ((100vw - 320px)/960));
    }
    label {
        padding: 0;
    }
  }

  @media (max-width: 425px) {
    .header {
        margin: 10px 0 0 20px;
    }
    .filter_item {
        padding: 0 0 0 10px;
    }
    .filter_item {
        padding: 0 0 0 7px;
    }
    .header {
        margin-left: 5px;
        margin-right: -25px;
        margin-bottom: 10px;
    }
    label:before {
        margin-right: 2px;
    }
    .filter_item:last-child {
        margin-bottom: 0;
    }
  }