.ticketslist {
    display: grid;
}

.button {
    width: 100%;
    max-height: 50px;
    background: #2196F3;
    border-color: #2196F3;
    color: white;
    height: 5.5vh;
    border-radius: 5px;
    font-size: calc(7px + 5 * (100vw/960));
    margin-bottom: 15px;
}

.button:hover {
    opacity: 0.8;
}

.noticketsmsg {
  padding: 20px;
  background-color: #fff;
  border: 1px solid  #2196F3;
  border-radius: 5px;
  text-align: center;
}


.progressline {
  margin-bottom: 20px; 
}

@media (min-width: 1024px) {
    .button{
      font-size: 12px;
    }
  }
  
  @media (max-width: 425px){
    .button{
      font-size: calc(6px + 5 * ((100vw - 320px)/960));
    }
  }


